<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Rodrigo">
	<meta name="description" content="Interfaz juego maraton">
	<meta name="keywords" content="Interfaz juego maraton">
	<meta name="MobileOptimized" content="width">
	<meta name="HandheldFriendly" content="True">
	<title>Maraton</title>
	<link rel="stylesheet" type="text/css" href="/Users/rodraw/Sites/maraton/public/css/estilo.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">
	<!-- Contenido para hacer una PWA. -->
	<link rel="manifest" href="manifest.json">
	<!-- Contenido para IOS -->
	<link rel="apple-touch-icon" href="img/icon-96x96.png">
	<meta name="apple-mobile-web-app-status-bar" content="#EDC10D">
</head>
<body>
	<div class="contenedor">
		<h2>MARATON</h2>
		<input type="button" name="inicio" value="Jugar">
	</div>
	<section>
		<article><p id="0/0"></p></article>
		<article><p id="0/1"></p></article>
		<article><p id="0/2"></p></article>
		<article><p id="0/3"></p></article>
		<article><p id="0/4"></p></article>
		<article><p id="0/5"></p></article>
		<article><p id="0/6"></p></article>
		<article><p id="0/7"></p></article>
		<article><p id="0/8"></p></article>
		<article><p id="0/9"></p></article>

		<article><p id="1/0"></p></article>
		<article><p id="1/1"></p></article>
		<article><p id="1/2"></p></article>
		<article><p id="1/3"></p></article>
		<article><p id="1/4"></p></article>
		<article><p id="1/5"></p></article>
		<article><p id="1/6"></p></article>
		<article><p id="1/7"></p></article>
		<article><p id="1/8"></p></article>
		<article><p id="1/9"></p></article>
	
		</body>
	</section>
	<script type="text/javascript" src="/Users/rodraw/Sites/maraton/public/js/interfaz.js"></script>
	<!-- Para PWA -->
	<script type="text/javascript" src="/Users/rodraw/Sites/maraton/public/js/app.js"></script>
</body>
</html>